<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>WeMan Connect</title>
        <link rel="shortcut icon" type= "image/jpg" href="favicon.ico" >
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    </head>
    <body>

        
        <header id="main_header">
            <nav>
                <img id="logo" src="img/logo.jpg" width="50px" alt="Logotipo WeMan Connect" href="http://www.wemanconnectblog.com">
                <h1 id="titulo">WeMan Connect Blog</h1>
                <div id="nav1">
                    <button>
                        <i class="far fa-user-circle fa-3x"></i>
                        <a href="FORMULARIO PARA CREAR NOTA"></a>
                    </button>
                    <button>
                        <i class="fas fa-pen-alt fa-3x"></i></i>
                        <a href="FORMULARIO PARA ENTRAR"></a>
                    </button>
                </div>
                <div class="herramientasnav" src="">
                </div>
            </nav>
        </header>





        <main id="main">
            <article>
                <h2 id="título" >Entrada de noticia</h2>
                <p id="fecha">Fecha</p>
                <p id="id">id</p>
                <p id="cuerpo">cuerpo</p>
                <img src="" alt="">
            </article>
        </main>
        <footer></footer>
    </body>
</html>