<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/syle2.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    </head>
    <body>
       <header id="encabezado">
           <div id="header-top-bar">
               <div id="header-top-bar-wrap" class="clearfix">
                   <div id="header-top-bar-right">
                       <div class="topbar-menu-container">
                           <ul id="topbar-menu" class="clearfix">
                               <li id="menu-item-suscribete" class="menu-item">
                                   <a href="wwww.wommanconnectblog.com/suscribete">Suscríbete</a>
                                   ::after
                               </li>
                               <li id="menu-item-contacto" class="menu-item">
                                    <a href="wwww.wommanconnectblog.com/contacto">
                                        <i class="fa fa-envelope" aria-hidden="true">
                                            ::before
                                        </i>
                                    </a>
                                    ::after
                               </li>
                               <li id="menu-item-facebook" class="menu-item">
                                    <a href="https://www.facebook.com/wemanconnect/">
                                        <i class="fa fa-facebook-official" aria-hidden="true">
                                            ::before
                                        </i>
                                    </a>
                                    ::after
                               </li>
                           </ul>
                       </div>
                       <div class="header-search-controls">
                           <i class="search-button icon-search font-icon">
                               ::before
                           </i>
                       </div>
                   </div>
                   ::afte
               </div>
           </div>





       </header>
    </body>





    <body>
            <header onload="inicia()">
                <nav>
                    <img id="logo" src="img/logo.jpg" width="50px" alt="Logotipo WeMan Connect" href="http://www.wemanconnectblog.com"> 
                    <div id="titulo"><h1 >WeMan Connect Blog</h1></div>
                    <div id="botones">
                        <button>
                            <i class="far fa-user-circle fa-3x"></i>
                            <a href="FORMULARIO PARA CREAR NOTA"></a>
                        </button>
                        <button>
                            <i class="fas fa-pen-alt fa-3x"></i></i>
                            <a href="FORMULARIO PARA ENTRAR" onclick="login('param1', 'param2')"></a>
                        </button>
                    </div>
                </nav>
            </header>
    
        </body>










</html>